$almost-black: #19334d;
$grey: #757370;
$almost-white: #f6eff1;

$dark-blue: #002266;
$background-blue: #fcfcfd;
$pale-blue: #e4eaf5;
$medium-blue: #003399;
$vermilion: #cf2f17;

// set custom hex colors
$siteBgColorCustom: $background-blue;
$sidebarBgColorCustom: $pale-blue;
$textColorCustom: $almost-black;
$sidebarTextColorCustom: $almost-black;
$headlineColorCustom: $dark-blue;
$headingColorCustom: $dark-blue;
$bodyLinkColorCustom: $medium-blue;
$navLinkColorCustom: $vermilion;
$sidebarLinkColorCustom: $medium-blue;
$footerTextColorCustom: $grey;

$buttonTextColorCustom: $almost-white;
$buttonHoverTextColorCustom: $almost-white;
$buttonBgColorCustom: $medium-blue;
$buttonHoverBgColorCustom: $dark-blue;
$borderColorCustom: $dark-blue;
