$background-sand: #f5f5f0;
$pale-ice: #dde8ee;
$turquoise: #0086b3;
$turquoise-dark: #006080;
$steel-blue: #42708a;
$pumpkin: #e64d00;
$almost-black: #19334d;
$grey: #757370;
$almost-white: #f6eff1;

// set custom hex colors
$siteBgColorCustom: $background-sand;
$sidebarBgColorCustom: $pale-ice;
$textColorCustom: $almost-black;
$sidebarTextColorCustom: $almost-black;
$headlineColorCustom: $pumpkin;
$headingColorCustom: $pumpkin;
$bodyLinkColorCustom: $steel-blue;
$navLinkColorCustom: $turquoise;
$sidebarLinkColorCustom: $steel-blue;
$footerTextColorCustom: $grey;
$buttonTextColorCustom: $almost-white;
$buttonHoverTextColorCustom: $almost-white;
$buttonBgColorCustom: $turquoise;
$buttonHoverBgColorCustom: $turquoise-dark;
$borderColorCustom: $turquoise;
